<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>

<div class="container">
    <h2 th:text="#{publications.add.title}"></h2>
    <form id="publicationForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="/publications/add" th:object="${publication}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title" th:text="#{publications.add.publication.title}"></label>
            <div class="col-sm-10">
               <input type="text" class="form-control" name="title" required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="content" th:text="#{publications.add.content}"></label>
            <div class="col-sm-10">
                <textarea type="text" form="publicationForm" name="content" th:placeholder="#{placeholder.add.publication}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="photo" th:text="#{publications.add.photo}"></label>
            <div class="col-sm-4">
                <input type="file" formenctype="multipart/form-data" accept="image/*" name="photo" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{publications.add.button}"></button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/footer"/>

</body>
</html>