<!DOCTYPE html>
<html lang="en" xmlns:th="http://xmlns.jcp.org/xml/ns/persistence/orm" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body>

<nav th:replace="fragments/nav"/>

<div class="container" style="text-align: center">
	<h2 th:text="#{welcome.message}"></h2>
	<p th:text="#{home.user.message}">
	  <span sec:authentication="principal.username"  
	  	th:inline="text"> </span>
	</p>
	<p th:text="#{home.usersapp.message}">
	</p>
  	<div class="table-responsive">
  		<table class="table table-hover" th:fragment="tableUsers" id="tableUsers">
    		<thead>
      			<tr>
					<th th:text="#{home.username.text}"></th>
					<th th:text="#{home.useremail.text}"></th>
					<th class="col-md-1"></th>
      			</tr>
    		</thead>
			<tbody>
		  	<tr th:each="user : ${usersList}">
				<td th:text="${user.name}"> 1</td>
				<td th:text="${user.email}"> 1</td>
				<td>
					<a th:href="${'/home/' + user.id}" class="btn btn-primary" th:text="${user.status}"></a>
				</td>
		  	</tr>
			</tbody>
  		</table>
  	</div>
	<footer th:replace="fragments/pagination"></footer>
</div>

<footer th:replace="fragments/footer"/>

</body>
</html>
