<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"/>
<body>

<nav th:replace="fragments/nav"/>
<div class="container">
    <h2 th:text="#{request.title.text}"></h2>
    <p th:text="#{request.title.explanation.text}"></p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th th:text="#{request.name.text}"></th>
                <th th:text="#{request.email.text}"></th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestList}">
                <td th:text="${request.name}">71888888X</td>
                <td th:text="${request.email}">Nombre del alumno</td>
                <td><a th:href="${'/requests/list/' + request.id}" class="btn btn-primary" th:text="${request.status}">eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer class="footer" th:replace="fragments/footer :: footer"/>
</body>
</html>
